<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hokus Bokus</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IM+Fell+French+Canon:ital@0;1&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Start</a>
                </li>
                <li>
                    <a asp-controller="Book" asp-action="Index">Böcker</a>
                </li>
                <li>
                    <a asp-controller="Author" asp-action="Index">Författare</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <div class="footer-cont">
            <img src="~/images/owls.svg" alt="Illustration av ugglor omgivna av taggiga rosblad, med en bok mellan dem">
            <p>Av S.E.K på Mittuniversitetet 2025</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
