@{
    ViewData["Title"] = "Startsida";
}


<div class="hero-cont">
    <div class="text-info">
        <h1 class="hero-title">Hokus Bokus</h1>
        <p>Det smidiga sättet att spara böcker</p>
        <a asp-controller="Book" asp-action="Index" class="btn">Utforska bokhyllan</a>
    </div>
    <img src="~/images/redriding.png" alt="">
</div>

<section class="text">
    <h2>Välkommen</h2>
    <p>Hokus Bokus är en plats för bokmalar, av bokmalar.</p>
    <p>Det är en samling av titlar och författare, där man kan lagra sina mest minnesvärda böcker eller få tips på nästa
        bladvändare.</p>
    <p>Facklitteratur eller fiktion, biografier eller barnsagor, beteendeanalyser eller ett ett episkt äventyr med hober
        och ringvålnader &ndash; du väljer själv.</p>
</section>
