@use 'vars' as v;

/* Regler gällande böckers undersidor */

//Text saknas
.missing {
    color: v.$red;
}

// Bokinfo
.book {
    background-color: white;
    padding: 1em;
    margin-top: 2em;

    //Titel
    h2 {
        font-size: 1.6em;
        font-family: v.$stressed;
    }

    //Typ
    .type {
        font-style: italic;
        color: grey;
    }

    //Knappar
    .ctrls {
        margin-top: 1.5em;
        display: flex;
        gap: 1em;

        //Länkarna
        a {
            display: block;
            padding: 0.4em 1em;
            font-size: 1em;
        }

        //detaljer
        .details,
        .back {
            background-color: v.$turquoise;

            &:hover {
                background-color: v.$orange;
            }
        }

        //Radera
        .delete {
            background-color: v.$red;

            &:hover {
                background-color: v.$turquoise;
            }
        }
    }
}

/* INDEX */
//Lägg till-knapp
.text .add {
    margin-top: 1em;
    display: block;
    width: fit-content;
}

//Bok-flex
.books {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.book.info {
    padding: 2em;
    p {
        max-width: 40em;
    }
}
