@use 'vars' as v;

//GENERELLA REGLER
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2800px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    background-color: v.$beige;
    font-family: v.$sans;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-family: v.$stressed;
    color: v.$red;
    font-size: 2.3em;
}

img {
    width: 100%;
    display: block;
}

nav ul li {
    list-style: none;

    a {
        text-decoration: none;
    }
}

a,
button,
input[type='submit'] {
    @include v.transition;
    cursor: pointer;
}

main {
    padding: 2em;
    margin: auto;
}

.content {
    max-width: 70em;
    margin: 2em auto;
}

//Text-avsnitt
.text {
    max-width: 50em;
    margin: auto;

    h2 {
        font-size: 1.8em;
    }

    p {
        margin-bottom: 0.8em;
    }
}

/* REGLER FÖR GEMENSAM LAYOUT */

//Navigering
nav {
    width: 80%;
    margin: auto;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
    }

    a {
        color: v.$turquoise;
        padding: 0.5em 1em;

        &:hover {
            color: v.$orange;
        }
    }
}

//Knappar
.btn {
    padding: 0.8em 1.3em;
    background-color: v.$orange;
    color: white;
    text-decoration: none;

    &:hover {
        background-color: v.$turquoise;
    }
}

//Regler för Home Index

.hero-cont {
    width: 80%;
    max-width: 1800px;
    margin: auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    //Lilla rödluvan
    img {
        width: 95%;
        margin: auto;
        max-width: 900px;
    }

    //Textinnehållet
    .text-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        //Hokus Bokus
        .hero-title {
            font-family: v.$stressed;
            font-size: 3.3em;
            color: v.$red;
        }
        //Onlinebokhylla
        p {
            letter-spacing: 1.1px;
            font-size: 1.1em;
        }

        //Se alla böcker
        a {
            margin-top: 2em;
        }
    }
}

//Knappar
.ctrls {
    margin-top: 1.5em;
    display: flex;
    gap: 1em;

    //Länkarna
    a {
        display: block;
        padding: 0.4em 0.8em;
        font-size: 1em;
    }
}
//detaljer
.details,
.back {
    background-color: v.$turquoise;

    &:hover {
        background-color: v.$orange;
    }
}

//Radera
.delete {
    background-color: v.$red;

    &:hover {
        background-color: v.$orange;
    }
}

//Footer
footer {
    color: v.$red;
    padding: 1em;
    margin-top: 2em;

    img {
        width: 30%;
        max-width: 300px;
        margin: 1.5em auto;
    }

    p {
        text-align: center;
    }
}
