@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 2800px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: #f5f1df;
  font-family: "Red Hat Display", arial, helvetica, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-family: "Averia Libre", Arial, helvetica, sans-serif;
  color: #6d2e25;
  font-size: 2.3em;
}

img {
  width: 100%;
  display: block;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}

a,
button,
input[type=submit] {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

main {
  padding: 1em;
  max-width: 70em;
  margin: auto;
}

.content {
  margin: 2em auto;
}

.text {
  max-width: 50em;
  margin: auto;
}
.text h2 {
  font-size: 1.8em;
}
.text p {
  margin-bottom: 0.8em;
}

/* REGLER FÖR GEMENSAM LAYOUT */
nav {
  width: 80%;
  margin: auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
nav a {
  color: #458e78;
  padding: 0.5em 1em;
}
nav a:hover {
  color: #f9a03f;
}

.btn {
  padding: 0.8em 1.3em;
  background-color: #f9a03f;
  color: white;
  text-decoration: none;
}
.btn:hover {
  background-color: #458e78;
}

.hero-cont {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.hero-cont img {
  width: 95%;
  margin: auto;
  max-width: 1200px;
}
.hero-cont .text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-cont .text-info .hero-title {
  font-family: "Averia Libre", Arial, helvetica, sans-serif;
  font-size: 3.3em;
  color: #6d2e25;
}
.hero-cont .text-info p {
  letter-spacing: 1.1px;
  font-size: 1.1em;
}
.hero-cont .text-info a {
  margin-top: 2em;
}

.ctrls {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
}
.ctrls a {
  display: block;
  padding: 0.4em 1em;
  font-size: 1em;
}

.details,
.back {
  background-color: #458e78;
}
.details:hover,
.back:hover {
  background-color: #f9a03f;
}

.delete {
  background-color: #6d2e25;
}
.delete:hover {
  background-color: #f9a03f;
}

footer {
  color: #6d2e25;
  padding: 1em;
  margin-top: 2em;
}
footer img {
  width: 30%;
  max-width: 300px;
  margin: 1.5em auto;
}
footer p {
  text-align: center;
}

/* Regler gällande böckers och författares undersidor */
.missing {
  color: #6d2e25;
}

.book,
.author {
  background-color: white;
  padding: 1em;
  margin-top: 2em;
}
.book h2,
.author h2 {
  font-size: 1.6em;
  font-family: "Averia Libre", Arial, helvetica, sans-serif;
}
.book .type,
.author .type {
  font-style: italic;
  color: grey;
}

/* INDEX */
.content .add {
  margin-top: 1em;
  display: block;
  width: fit-content;
}

.books,
.authors {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.book.info,
.author.info {
  padding: 2em;
}
.book.info p,
.author.info p {
  max-width: 40em;
}
.book.info p.bio,
.author.info p.bio {
  color: grey;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

/* GENERELLA REGLER FÖR FORMULÄR ex redigering/skapa */
input,
textarea,
select {
  border: none;
  font-size: 1em;
  font-family: "Red Hat Display", arial, helvetica, sans-serif;
  display: block;
}

form .error {
  color: red;
}
form .form-group {
  margin-bottom: 1em;
}
form label {
  margin-left: 0.4em;
}
form input[type=text],
form textarea {
  width: 100%;
  padding: 0.5em;
}
form input[type=text]:focus,
form textarea:focus {
  outline: 2px dotted #458e78;
}
form textarea {
  height: 10em;
}
form select {
  padding: 0.5em;
  width: 50%;
}
form select:focus {
  outline: 2px dotted #458e78;
}

/*# sourceMappingURL=site.css.map */
